.header {
    position: fixed;
    left: 50%;
    translate: -50% 0;

    width: 100%;
    max-width: 1120px;

    display: flex;
    justify-content: space-between;

    // @include main-container;
}

.icons-navbar {
    padding: 10px;

    &__list {
        display: flex;
        gap: 15px;
    }
    &__item {
        display: flex;
        align-items: center;

        & > a {
            display: flex;
        }
        & > svg path {
            transition: $transition;
        }
        &:hover {
            cursor: pointer;

            & > svg path {
                fill-opacity: 1;
            }
        }
    }
    & > .separator {
        width: 15px;
        height: 0px;
        border: .5px solid rgba(255, 255, 255, 0.6);
        transform: rotate(90deg);
    }
}